NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/barber_shop
JWT_SECRET=change_this_to_a_long_random_secret
ADMIN_SETUP_KEY=only_for_initial_admin_creation
ADMIN_NAME=Site Admin
ADMIN_EMAIL=admin@barber.com
ADMIN_PASSWORD=admin12345
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
